@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
// variables
$text-size: 18px;
//### Primary
$purple-600: hsl(246, 80%, 60%);
$orange-300-work: hsl(15, 100%, 70%);
$Blue-300-play: hsl(195, 74%, 62%);
$Pink-400-study: hsl(348, 100%, 68%);
$Green-400-exercise: hsl(145, 58%, 55%);
$Purple-700-social: hsl(264, 64%, 52%);
$Yellow-300-self_care: hsl(43, 84%, 65%);
//### Neutral
$Navy-950: hsl(226, 43%, 10%);
$Navy-900: hsl(235, 46%, 20%);
$Purple-500: hsl(235, 45%, 61%);
$Navy-200: hsl(236, 100%, 87%);
// rules
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: $text-size;
  scroll-behavior: smooth;
}
img {
  max-inline-size: 100%;
}
h1,
h2,
h3 {
  padding: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
}
ul {
  list-style-type: none;
  list-style-position: outside;
}
li {
  cursor: pointer;
}
// media query
@mixin tablet() {
  @media (min-width: 40rem) {
    @content;
  }
}
@mixin desktop() {
  @media (min-width: 1024px) {
    @content;
  }
}
