@import "config";

body {
  font-family: "Rubik", sans-serif;
  background: $Navy-950;
  color: #fff;
  display: grid;
  padding: 24px;
}
main {
  display: grid;
  align-self: center;
  .section-one {
    background: $Navy-900;
    border-radius: 0.83rem;
    .profile {
      background: $purple-600;
      display: flex;
      align-items: center;
      padding: 1.77rem;
      margin-bottom: 1.33rem;
      border-radius: 0.38rem;
      img {
        border-radius: 100%;
        border: 3px solid #fff;
        max-width: 64px;
        max-height: 64px;
      }
      .profile-text {
        margin-left: 1.33rem;
        p {
          font-size: 15px;
          line-height: 1rem;
          color: $Navy-200;
        }
        h1 {
          margin-top: 0.5rem;
          font-size: clamp(1.2rem, 1.2rem, 1.33rem);
          line-height: 28px;
          font-weight: 200;
        }
      }
    }
  }
}
.schedules {
  .periods {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 1.33rem;
    color: $Purple-500;
    .period {
      font-size: 1rem;
      line-height: 21px;
      cursor: pointer;
      transition: 0.5s;
    }
    .active {
      color: white;
    }
    // #period:hover {
    //   background: $Purple-700-social;
    // }
  }
}
.section-two {
  margin-top: 1.77rem;
  .container {
    cursor: pointer;
    z-index: 1;
    padding-top: 1.77rem;
    position: relative;
    overflow: hidden;
    margin-bottom: 1.33rem;
    border-radius: 0.83rem;
    
    .title-container {
      z-index: 9999;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top-left-radius: 0.83rem;
      border-top-right-radius: 0.83rem;
      background: $Navy-900;
      padding: 1.33rem;
      h2 {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.16rem;
        transition: 0.5s;
        cursor: pointer;
      }
      h2:hover {
        color: $Navy-200;
      }
    }
    .tracking-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: $Navy-900;
      border-bottom-left-radius: 0.83rem;
      border-bottom-right-radius: 0.83rem;
      padding: 1.33rem;
      .current {
        font-size: 1.77rem;
        font-weight: 200;
        line-height: 2.1rem;
      }
      .previous {
        color: $Navy-200;
        font-size: 0.83rem;
        font-weight: 300;
        line-height: 1rem;
      }
    }
    .activity-img {
      position: absolute;
      top: -10px;
      right: 0;
      width: 4.33rem;
      height: 4.33rem;
      margin-right: 1.33rem;
      z-index: -1;
    }
  }
  .work-container {
    background: $orange-300-work;
  }
  .play-container {
    background: $Blue-300-play;
  }
  .study-container {
    background: $Pink-400-study;
  }
  .exercise-container {
    background: $Green-400-exercise;
  }
  .social-container {
    background: $Purple-700-social;
  }
  .self-care-container {
    background: $Yellow-300-self_care;
  }
}

@include tablet {
  main {
    width: 35rem;
    justify-self: center;
    margin-top: 10%;
  }
  .section-two {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    .container {
      margin: 0;
      .tracking-container {
        position: relative;
        display: block;
      }
    }
  }
}

@include desktop {
  main {
    width: 62rem;
    display: flex;
    justify-content: center;
    // align-items: center;
    .section-one {
      .profile {
        width: 14rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .profile-text {
          margin: 2.22em 1.77em 1.77em 0;

          h1 {
            font-size: 2.22rem;
            line-height: 47px;
          }
        }
      }
      .schedules {
        .periods {
          flex-direction: column;
          align-items: flex-start;
          padding: 0 1.77em 0;
          .period {
            font-size: 1rem;
            margin-bottom: 1em;
            width: 100%;
          }
          .period:hover {
            background: $purple-600;
            color: #fff;
          }
        }
      }
    }
    .section-two {
      margin: 0 1.77em 0 1.77em;
      .container {
        width: 14.17rem;
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
    }
  }
}
